/* Write your CSS here */
.row-name {
  font-family: 'Roboto';
  color: #334155;
  opacity: 0.6;
  font-weight: 500;
  font-size: 17px;
  width: 25%;
  margin: 12px;
}
.delete-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0px;
}
.delete-icon {
  width: 40%;
}
